python-telegram-bot==20.7
gspread==5.12.4
google-auth-oauthlib==1.2.0
python-dotenv==1.0.0
httpx==0.25.2
cloudinary==1.36.0
requests==2.31.0
selenium==4.15.2
webdriver-manager==4.0.1
matplotlib==3.8.2
seaborn==0.13.0
google-auth==2.25.2
flask==3.0.0
schedule==1.2.0