python-telegram-bot[job-queue]==21.0.1
APScheduler==3.10.4
gspread==6.0.2
google-auth-oauthlib==1.2.0
python-dotenv==1.0.1
httpx==0.26.0
cloudinary==1.38.0
requests==2.31.0
selenium==4.16.0
webdriver-manager==4.0.1
matplotlib==3.8.2
seaborn==0.13.0
google-auth==2.25.2
flask==3.0.0
schedule==1.2.0